html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
    font-family: 'Helvetica';
}

h1{
    color: white;
    font-size: 3rem;
}

h2{
    color: white;
    font-size: 2rem;
}

p{
    color: white;
    font-size: 1.5rem;
}

#playground{
    box-shadow: 0px 0px 10px 10px rgb(30, 30, 30);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgb(20, 20, 30), rgb(30, 30, 40));
    max-width: 100%;
    max-height: 100%;
    display: none;
} 

.arrowKeysImage{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 25px;
}

.spacebarImage{
    width: 150px;
    height: 150px;
    display: inline-block;
}

#htmlCssWrapper{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.startGame{
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 30px;
}

.controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.controls h2{
    width: 100%;
    text-align: center;
}

.shoot, .left, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.difficultySettings{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    min-height: 250px;
}

#easyMode, #normalMode, #noMercy{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 10px;
}

.mode{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}

.modeInfo{
    margin-top: 25px;
}

img{
    display: none;
}